{% extends 'base.html.twig' %}

{% block body %}

    <script type="text/javascript">
        adverts_list = '{{ render(controller('DepartmentSiteDefaultBundle:Default:getAdvertsForMainPage')) }}';
        news_list = '{{ render(controller('DepartmentSiteDefaultBundle:Default:getNewsForMainPage')) }}';
        console.log(adverts_list);
    </script>

    <div ng-controller="MainPageCtrl">
        <div class="container-fluid">
            <div class="announcements">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 announce-cards">
                            <div class="row">
                                <div class="section-title"><span>Объявления</span>
                                    <div class="v-separator"></div><a ng-href="{{ path('advert_index') }}">Все объявления</a>
                                </div>
                            </div>
                            <div  ng-if="$index % 2 == 0" ng-repeat="advert in adverts | orderBy: &#39;id&#39;">
                                <div class="col-md-6 cards-column">
                                    <div class="announce-card">
                                        <div class="announce-card-content">
                                            <div class="my_announcement-comments-count-circle pull-right">2</div><i class="announce-card-date">{{ '{{adverts[$index].created_at | date}}' }}</i>
                                            <br /><a class="announce-card-title" ng-href="/advert/{{'{{adverts[$index].slug}}'}}/show">{{ '{{ adverts[$index].title }}' }}</a>
                                            <div class="announce-card-lead">{{ '{{ adverts[$index].content | limitTo: 100 }}' }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 cards-column">
                                    <div class="announce-card">
                                        <div class="announce-card-content">
                                            <div class="my_announcement-comments-count-circle pull-right">2</div><i class="announce-card-date">{{ '{{ adverts[$index + 1].created_at | date}}' }}</i>
                                            <br /><a class="announce-card-title" ng-href="/advert/{{'{{adverts[$index+1].slug}}'}}/show">{{ '{{ adverts[$index + 1].title }}' }}</a>
                                            <div class="announce-card-lead"> {{ '{{ adverts[$index + 1].content | limitTo: 100 }}' }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {#<div class="col-md-4 sidebar" ng-include="&#39;views/main/announcements/sidebar.html&#39;"></div>#}
                </div>
            </div>
            <div class="news">
                <div class="container">
                    <div class="row">
                        <div class="section-title"><span>Новости кафедры</span>
                            <div class="v-separator"></div><a ng-href="{{ path('news_index') }}">Все новости</a></div>
                    </div>
                    <div class="row" ng-if="$index % 2 == 0" ng-repeat="oneNews in news | orderBy: &#39;id&#39;">
                        <div class="col-md-6 news-column">
                            <a ng-href="/news/{{'{{news[$index].id}}'}}/show"><img alt="alt" class="news-item-image" ng-src="{{ '{{news[$index].photo.path}}' }}" /></a>
                            <div class="news-item-date">{{'{{ news[$index].created_at | date }}'}}</div>
                            <br /><a class="news-item-title" ng-href="/news/{{'{{news[$index].slug}}'}}/show">{{'{{ news[$index].title }}'}}</a>
                            <div class="news-item-lead">{{'{{ news[$index].description}}'}}</div>
                        </div>
                        <div class="col-md-6 news-column2">
                            <a ng-href="/news/{{'{{news[$index+1].id}}'}}/show"><img alt="alt" class="news-item-image" ng-src="{{ '{{news[$index+1].photo.path}}' }}" /></a>
                            <div class="news-item-date">{{'{{ news[$index+1].created_at | date }}'}}</div>
                            <br /><a class="news-item-title" ng-href="/news/{{'{{news[$index+1].slug}}'}}/show">{{'{{ news[$index+1].title }}'}}</a>
                            <div class="news-item-lead">{{'{{ news[$index+1].description}}'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
