{% extends 'base.html.twig' %}
{#{% block body %}#}
{#<div ng-controller="NewsCtrl">#}
{#<div class="container">#}


{% block body %}
<div ng-controller="NewsCtrl">
    <script type="text/javascript">
         data = '{{ render(controller('DepartmentSiteNewsBundle:News:getAll')) }}';
        console.log(data);
    </script>



  <div class="news" style="background-color: #fff;">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="section-title"><span> {{ 'all_news' | DICTIONARY(_locale) }}</span></div>
              </div>
          </div>
          <div class="row" ng-if="$index % 2 == 0" ng-repeat="oneNews in news" >
              <div class="col-md-6 news-column">
                  <a ng-href="{{'{{news[$index].slug}}'}}/show">
                      <img alt="alt" class="news-item-image" ng-src="{{'{{news[$index].photoUrl}}'}}" />
                  </a>
                  <div class="news-item-date">{{'{{news[$index].created_at.date | date}}'}}</div>
                  <br /><a class="news-item-title" ng-href="{{'{{news[$index].slug}}'}}/show">{{'{{ news[$index].title }}'}}</a>
                  <div class="news-item-lead">{{'{{ news[$index].description}}'}}</div>
              </div>
              <div class="col-md-6 news-column2" ng-if="news[$index + 1]">
                  <a ng-href="{{'{{news[$index+1].slug}}'}}/show">
                      <img alt="alt" class="news-item-image" ng-src="{{'{{news[$index + 1].photoUrl}}'}}" />
                  </a>
                  {#<a ng-href="/news/{{'{{news[$index+1].slug}}'}}/show"><img alt="alt" class="news-item-image" ng-src="{{'{{news[$index + 1].photoUrl}}' | imagine_filter('preview')}}" /></a>#}
                  <div class="news-item-date">{{'{{news[$index + 1].created_at.date | date}}'}}</div>
                  <br /><a class="news-item-title" ng-href="{{ '{{ news[$index+1].slug}}'}}/show">{{'{{ news[$index + 1].title }}'}}</a>
                  <div class="news-item-lead">{{'{{ news[$index + 1].description}}'}}</div>
              </div>
          </div>
      </div>
  </div>
    </div>
    {#<div ng-include="&#39;layout/pagination.html&#39;"></div>#}
    {#{% include ':layout:pagination.html.twig' %}#}
{% endblock %}
