{% extends 'base.html.twig' %}

{% block body %}
    <h1>News</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ news.description }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ news.content }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{% if news.photo %}{{ news.photo|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('news_index', {'_format': format}) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('news_edit', { 'id': news.id, '_format': format }) }}">Edit</a>
        </li>
        {#  <li>
              {{ form_start(delete_form) }}
                  <input type="submit" value="Delete">
              {{ form_end(delete_form) }}
        </li> #}
    </ul>
{% endblock %}
