{% extends 'base.html.twig' %}


  {% block body %}

<div ng-controller="AnnouncementsCtrl">
      <script type="text/javascript">
           data = '{{ render(controller('DepartmentSiteAdvertBundle:Advert:getAll')) }}';
      </script>

      <div class="announcements-background">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="section-title"><span>Объявления</span></div>
              </div>
          </div>
          <div class="row" ng-repeat="announcement in announcements | orderBy: &#39;id&#39;">
              <div class="cards-column">
                  <div class="announce-card">
                      <div class="announce-card-content">
                          <div class="full-card-content">
                              <div class="my_announcement-comments-count-circle pull-right">2</div><i class="announce-card-date">{{'{{announcement.created_at | date}}'}}</i>
                              <br /><a class="announce-card-title" ng-href="/advert/{{'{{announcement.slug}}'}}/show">{{'{{ announcement.title }}'}}</a>
                              <div class="announce-card-lead">{{'{{ announcement.content }}'}}</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  {% endblock %}
