{% extends 'base.html.twig' %}

{% block body %}
    {# <h1>Advert</h1> <table> <tbody> <tr> <th>Id</th> <td>{{ advert.id }}</td> </tr> <tr> <th>Title</th> <td>{{ advert.title }}</td> </tr> <tr> <th>Description</th> <td>{{ advert.description }}</td> </tr> <tr> <th>Content</th> <td>{{ advert.content
    }}</td> </tr> </tbody> </table> <ul> <li> <a href="{{ path('advert_index') }}">Back to the list</a> </li> <li> <a href="{{ path('advert_edit', { 'id': advert.id }) }}">Edit</a> </li> <li> {{ form_start(delete_form) }} <input type="submit"
    value="Delete"> {{ form_end(delete_form) }} </li> </ul> #}
<div ng-controller="OneAdvertCtrl">
    <script type="text/javascript">
        data = '{{ render(controller('DepartmentSiteAdvertBundle:Advert:getOne', {'id' : advert.id})) }}';
    </script>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <span>Объявления</span>
                    <div class="v-separator"></div>
                    <a ng-href="{{ path('advert_index') }}">К списку объявлений</a>
                    <div class="v-separator"></div>
                    <a ng-href="#/announcements/page">К следующему</a>
                    <div class="v-separator"></div>
                    <a ng-href="#/announcements/page">К предыдущему</a>
                </div>
                <i class="news-time">{{'{{ advert.created_at | date}}'}}</i>
                <div class="post-title-inside-post">{{'{{ advert.title }}'}}</div>
                {#<div class="post-content-inside post-content >#}
                    <div ng-bind-html="advert.content | toHTML"></div>
                {#</div>#}
            </div>
        </div>
    </div>
</div>

{% endblock %}
