<header id="myCarousel" class="carousel slide banner">
    <!-- Indicators -->
    {#<ol class="carousel-indicators">#}
        {#{% for slideShow in slideShows %}#}
            {#{% if loop.first %}#}
                {#<li data-target="#myCarousel" data-slide-to={{ loop.first - 1}} class="active"></li>#}
            {#{% else %}#}
                {#<li data-target="#myCarousel" data-slide-to={{ loop.index - 1}}></li>#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#</ol>#}

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="container" >
            {{ render(controller('DepartmentSiteDefaultBundle:Default:getBannerMenu')) }}
            <a ng-href="{{ path('department_site_default_homepage') }}">
                <div class="evm-logo"></div>
            </a>
        </div>
        {% for slideShow in slideShows %}
        {% if loop.first %}
        <div class="item active">
            {% else %}
            <div class="item">
                {% endif %}
                <div class="fill" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://www.techandall.com/wp-content/uploads/2014/03/macbook-air-all-faded-and-stuff.jpg');"></div>
                <div class="container inner">
                    <div class="banner-title">{{ slideShow.title }}</div>
                    <div class="banner-lead">{{ slideShow.description }}</div>
                </div>
            </div>
            {% endfor %}
    </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
