<div class="banner">
    <div class="container">
        <ul class="links-list pull-right">
            <li><a ng-href={{ "Студентам" | MENU }}>Студентам</a></li>
            <li><a ng-href={{ "Абитуриентам" | MENU }}>Абитуриентам</a></li>
            <li><a ng-href={{ "Дипломникам" | MENU }}>Дипломникам</a></li>
            <li><a ng-href={{ "Родителям" | MENU }}>Родителям</a></li>
        </ul>
        <a ng-href="{{ path('department_site_default_homepage') }}">
            <div class="evm-logo"></div>
        </a>
        <div class="banner-title">Кафедра
            <br />электронных
            <br />вычислительных машин</div>
        <div class="banner-lead">Белорусский государственный университет
            <br />информатики и радиоэлектроники</div>
    </div>
</div>
