<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-credits">&copy; 2010-2016 ФКСиС<br/>{{ 'authors_first_part' |  DICTIONARY(_locale) }}
                    <br/>{{ 'authors_second_part' |  DICTIONARY(_locale) }}
                </div>
            </div>
            <div class="col-md-5">
                <div class="footer-social"><a class="social-button vk" ng-href="{{ 'VK_Link' | DICTIONARY }}"></a><a
                            class="social-button facebook" ng-href="{{ 'facebook_Link' | DICTIONARY }}"></a>
                    <a class="social-button twitter" ng-href="{{ 'twitter_Link' | DICTIONARY }}"></a><a
                            class="social-button instagram" ng-href="{{ 'Instagram_Link' | DICTIONARY }}"></a></div>
            </div>
            <div class="col-md-3">
                <div class="footer-info">
                    <div class="footer-phone">{{ 'phone' | DICTIONARY }}</div>
                    {{ 'address' | DICTIONARY(_locale) }}<br/>
                    <a target="_blank" href="{{ 'location' | DICTIONARY }}">{{ 'map' |  DICTIONARY(_locale) }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
