{% trans_default_domain 'FOSUserBundle' %}
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left localization">
                    <li>
                        <a ng-class="'{{ _locale }}' == 'ru' ? 'active' : ''" ng-href="{{ path('department_site_default_homepage', {'_locale': 'ru'}) }}">RUS</a>
                        <div class="v-separator"></div>
                        <a ng-class="'{{ _locale }}' == 'en' ? 'active' : ''" ng-href="{{ path('department_site_default_homepage', {'_locale': 'en'}) }}">ENG</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{ render(controller('DepartmentSiteDefaultBundle:Default:getHeaderMenu', {'_locale' : _locale} )) }}
                    {% if is_granted('ROLE_USER') %}
                    <li><a ng-href={{ path('fos_user_profile_show') }}>{{ 'profile.link'|trans }}</a></li>
                    <li><a ng-href={{ path('fos_user_security_logout') }}>Выйти</a></li>
                    {% else %}
                    {#<li><a ng-href={{ path('fos_user_security_login') }} data-target="#myModal" data-toggle="modal"  >{{ 'login_link' |  DICTIONARY(_locale) }}</a></li>#}
                    <li><a data-target="#myModal" data-toggle="modal" >{{ 'login_link' |  DICTIONARY(_locale) }}</a></li>
                    {%  endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{{ render(controller('ApplicationFOSUserBundle:Security:login')) }}

