<div ng-init="curPage='{{ page }}';">
    <i ng-show="false">{{  '{{ setPage( curPage ); }}'  }}</i>
    <div class="container">
        <div class="row pagination-box">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="pagination" ng-show="'{{ listLength }}' > pageSize">
                    <div class="pagination-control">
                        <a class="page-controls-back" ng-href="/ru/advert/{{ '{{ +pager.currentPage - 1 }}' }}" ng-show="hasPrevious()">
                            <div class="page-controls-arrow"></div>
                            <div class="page-controls-text">назад</div>
                        </a>
                        <div ng-repeat="page in pager.pages">
                            <a ng-href="/ru/advert/{{ '{{ page }}' }}" ng-click="setPage(page)" class="pagination-num " ng-class="(pager.currentPage === page || curPage == page) ? 'pagination-active' : ''">{{ '{{ page }}' }}</a>
                        </div>
                        <a class="page-controls-forward" ng-href="/ru/advert/{{ '{{ +pager.currentPage + 1 }}' }}" ng-show="hasNext()">
                            <div class="page-controls-text">вперед</div>
                            <div class="page-controls-arrow"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>