{% extends 'base.html.twig' %}

{% block body %}
<div ng-controller="ProjectsCtrl">

    <script type="text/javascript">
        data = '{{ render(controller('DepartmentSiteProjectBundle:Project:getAll')) }}';
//        console.log(data);
    </script>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title"><span>{{ 'projects' | DICTIONARY(_locale) }}</span></div>
            </div>
        </div>
        <div class="row">
            <div class="search-form">
                <input placeholder="{{ 'search_in_projects' | DICTIONARY(_locale) }}" title="search" type="search" />
            </div>
        </div>
        <div class="row">
            <div class="post-list">
                <div class="post-block" ng-repeat="project in projects"><a class="post-header" ng-href="/{{ _locale }}/project/{{'{{project.slug}}'}}/show">{{ '{{ project.title }}' }}</a>
                    <div class="post-author"><span>{{ '{{ project.student }}' }}</span> {{ '{{ project.course }}' }} {{ 'course' | DICTIONARY(_locale) }} {{ '{{ project.studentGroup }}' }} {{ 'group' | DICTIONARY(_locale) }}</div>
                    <div class="post-links">
                        <a ng-href="/{{ _locale }}/project/{{'{{project.slug}}'}}/show">{{ 'reviews' | DICTIONARY(_locale) }} ( 2 )</a>
                        <div class="line"></div>
                        <a class="comments-link" ng-href="/{{ _locale }}/project/{{'{{project.slug}}'}}/show">{{ 'comments' | DICTIONARY(_locale) }} ( 2 )</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
