{% extends 'base.html.twig' %}

{% block body %}
<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title"><span>Создание нового проекта</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-bottom" >
                <form method="POST" action="{{ path('project_new') }}">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" />
                {{ form_end(form) }}
                </form>

                <ul>
                    <li>
                        <a href="{{ path('project_index') }}">Back to the list</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
