{% extends 'base.html.twig' %}

{% block body %}
    <div id="project">
        {% set new_comment_path = path('comment_new') %}
    <div ng-controller="CommentsCtrl" ng-init="url = '{{ new_comment_path }}'">
        <script type="text/javascript">
            data = '{{ render(controller('DepartmentSiteProjectBundle:Project:getOne', {'slug' : project.slug})) }}';
            project_comments = '{{ render(controller('DepartmentSiteProjectBundle:Project:getCommentsByProjectId', {'projectId' : project.id})) }}';
            comments_count = '{{ render(controller('DepartmentSiteProjectBundle:Project:getCommentsCount', {'projectId' : project.id})) }}';
        </script>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title"><span>{{ 'projects' | DICTIONARY(_locale) }}</span>
                        <div class="v-separator"></div><a ng-href="{{ path('project_index') }}">{{ 'to_projects_list' | DICTIONARY(_locale) }}</a>
                        <div class="v-separator"></div><a ng-href="#/projects">{{ 'next_project' | DICTIONARY(_locale) }}</a>
                        <div class="v-separator"></div><a ng-href="#/projects">{{ 'previous_project' | DICTIONARY(_locale) }}</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {#<div class="post-header">{{ '{{ project.title}}' }}</div>#}
                    <div class="post-header">
                        {{  project.title }}
                        {% if is_granted('ROLE_USER') %}
                        <a ng-href="{{ path('project_edit', {'slug' : project.slug }) }}" style="font-size: 14px; margin-left: 10px;" >Редактировать</a>
                        {% endif %}
                    </div>

                </div>
            </div>

            <table class="project-info-table">
                <tbody>
                    <tr>
                        <th>{{ 'student' | DICTIONARY(_locale) }}:</th>
                        {#<td>{{ '{{ project.student}}' }}</td>#}
                        <td>{{  project.student }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'teacher' | DICTIONARY(_locale) }}:</th>
                        {#<td>{{ '{{ project.teacher}}' }}</td>#}
                        <td>{{ project.teacher }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'course' | DICTIONARY(_locale) }}:</th>
                        {#<td>{{ '{{ project.course}}' }}</td>#}
                        <td>{{ project.course }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'group' | DICTIONARY(_locale) }}:</th>
                        {#<td>{{ '{{ project.studentGroup}}' }}</td>#}
                        <td>{{  project.studentGroup }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'start_date' | DICTIONARY(_locale) }}:</th>
                        {#<td>{{ '{{ project.startDate.date  | dateFilter | date:"dd.MM.yyyy"}}' }}</td>#}
                        <td>{{  project.startDate.date  | date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'end_date' | DICTIONARY(_locale) }}:</th>
                        {#<td>{{ '{{ project.endDate.date  | dateFilter | date:"dd.MM.yyyy"}}' }}</td>#}
                        <td>{{ project.endDate.date  | date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'project_description' | DICTIONARY(_locale) }}:</th>
                        {#<td>{{ '{{ project.description}}' }}</td>#}
                        <td>{{ project.description }}</td>
                    </tr>
                </tbody>
            </table>


            <div class="row">
                <div class="col-xs-12">
                    {#<div class="post-content-inside" ng-bind-html="project.content | toHTML"></div>#}
                    {#<div class="reviews-cards-title">{{ 'teacher_and_reviewer_comments' | DICTIONARY(_locale) }}</div>#}
                    <div class="post-content-inside">{{ project.content | raw }}</div>
                    <div class="reviews-cards-title">{{ 'teacher_and_reviewer_comments' | DICTIONARY(_locale) }}</div>
                </div>
            </div>

             <div class="row">
                 <div class="col-xs-12">
                     <div class="review-card">
                         <div class="review-card-content">
                             <div class="review-card-title">{{ project.teacher }}</div>
                             <div class="review-card-lead">{{ project.teacherComment | raw }}</div>
                             <i class="review-card-date">{{ project.createdAt | date }}</i></div>
                             {#<div class="review-card-lead" ng-bind-html="project.content | toHTML"></div><i class="review-card-date">вчера в 19:07</i></div>#}
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-xs-12">
                     <div class="comments-cards-title">{{ 'comments' | DICTIONARY(_locale) }} ( {{ '{{ comments_count }}' }} )</div>
                 </div>
             </div>

            <script type="text/ng-template" id="categoryTree">
                <div class="col-md-12">
                    <div class="comment-card">
                        <div class="comment-card-content">
                            <div class="col-md-11">
                                <div class="comment-card-title">{{ '{{ comment.author }}' }}</div>
                                <div class="comment-card-lead">{{ '{{ comment.content }}' }}</div>
                                <i class="comment-card-date">{{ '{{ comment.createdAt.date | date}}' }}  </i>
                                {% if is_granted('ROLE_USER') %}
                                <a href="" id="reply_link" class="reply reply_link" ng-click="init(comment.id)" onclick="showText(this);">ответить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="comment.child" ng-style="{'margin-left' : '20px'}">
                    <div class="row" ng-repeat="comment in comment.child" ng-include="'categoryTree'"></div>
                </div>
            </script>

            <div class="row" ng-repeat="comment in comments" ng-include="'categoryTree'">
            </div>

             {#<div class="row" ng-repeat="comment in comments">#}
                 {#<div class="col-md-12">#}
                     {#<div class="comment-card">#}
                         {#<div class="comment-card-content">#}
                             {#<div class="col-md-1"><img alt="alt" class="comment-card-avatar" ng-src="{{posts[0].img}}" /></div>#}
                             {#<div class="col-md-11">#}
                                 {#<div class="comment-card-title">{{ '{{ comment.author }}' }}</div>#}
                                 {#<div class="comment-card-lead">{{ '{{ comment.content }}' }}</div>#}
                                 {#<i class="comment-card-date">{{ '{{ comment.createdAt.date | date}}' }}  </i>#}
                                 {#<a href="" id="reply_link" class="reply reply_link" ng-click="init(comment.id)" onclick="showText(this);">ответить</a>#}
                             {#</div>#}
                         {#</div>#}
                     {#</div>#}
                 {#</div>#}
             {#</div>#}

            {% if is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col-xs-12" id="reply">
                    <form ng-show="isSuccess == false"  method="post" ng-submit="processForm('{{ project.id }}')">
                    <div class="comment-textarea">
                        {#<a href=""><i class="fa fa-paperclip fa-2x" aria-hidden="true"></i></a>#}
                        <textarea ng-model="formData.content" placeholder="{{ 'textarea_message' | DICTIONARY(_locale) }}"
                                  title="comment" type="comment" id="comment_textarea" required="required"></textarea>
                    </div>
                        <input class="btn btn-default" type="submit" id="_submit" name="_submit"
                               value="{{ 'btn_comment' | DICTIONARY(_locale) }}"/>
                    </form>
                    <div class="moderation-message" ng-show="isSuccess == true">
                        <h4>{{ '{{ message }}' }}</h4>
                        <input type="button" class="btn btn-default" ng-click="showTextview()" value="Продолжить">
                    </div>
                </div>
            </div>
            <a href="" id="reply-link-2" class="reply reply_link" onclick="showText(this)"><h4>Написать комментарий</h4></a>
           {% else %}
            <p class="login-message">{{ 'message_to_regitster' | DICTIONARY(_locale) }}
                <a data-target="#myModal" data-toggle="modal" ng-href="">
                    {{ 'login_to_comment' | DICTIONARY(_locale) }}</a> {{ 'please' | DICTIONARY(_locale) }}.</p>
            {% endif %}
             </div>
         </div>
     </div>

    <script>
        jQuery(function () {
            $('#reply-link-2').hide();
            showText = function($this) {
                $($this).css("color", "#2ab4c0");
                $($this).mouseenter(function () {
                    $(this).css("color", "#fdd400")
                });
                $($this).mouseleave(function () {
                    $(this).css("color", "#2ab4c0")
                });
                $('#reply').insertAfter($($this));
                $('#reply-link-2').show();
            };
        });
    </script>
{% endblock %}
