{% extends 'base.html.twig' %}

{% block body %}
<div ng-controller="NewsCtrl">
    <script type="text/javascript">
         data = '{{ render(controller('DepartmentSiteNewsBundle:News:getNews', { 'page': page, 'pagination' : pagination})) }}';
        console.log(data)
    </script>

  <div class="news" style="background-color: #fff;">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="section-title"><span>{{ 'news' | DICTIONARY(_locale) }}</span></div>
              </div>
          </div>

          <div ng-repeat="oneNews in news">
              <div ng-class="($index % 2 !== 0) ? 'row' : ''">
                  <div ng-class="($index % 2 === 0) ? 'col-md-6 news-column' : 'col-md-6 news-column2'">
                      <a ng-href="/{{ _locale }}/news/{{'{{oneNews.slug}}'}}/show"><img alt="alt" class="news-item-image" ng-src="{{'{{oneNews.photo}}'}}" /></a>
                      <div class="news-item-date">{{'{{oneNews.created_at.date | dateFilter | date:"dd.MM.yyyy"}}'}}</div>
                      <br /><a class="news-item-title" ng-href="/{{ _locale }}/news/{{'{{oneNews.slug}}'}}/show">{{'{{ oneNews.title }}'}}</a>
                      <div class="news-item-lead">{{'{{ oneNews.description }}'}}</div>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination, 'KnpPaginatorBundle:Pagination:foundation_v5_pagination.html.twig') }}
    </div>
   </div>
{% endblock %}
