{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}

{#{% block fos_user_content %}#}

    {% trans_default_domain 'FOSUserBundle' %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>

    {#<form id="reg_form" method="POST" action="{{ path('teacher_user_registration') }}" >#}
        {#<div class="form-group">#}
            {#<select class="form-control" id="select_user">#}
                {#<option>Преподаватель</option>#}
                {#<option>Студент</option>#}
                {#<option>Родитель</option>#}
            {#</select>#}
        {#</div>#}
        {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#<div>#}
            {#<input type="submit" value="{{ 'registration.submit'|trans }}" />#}
        {#</div>#}
    {#</form>#}

    {#<script>#}
        {#jQuery(function () {#}
            {#$("#fos_user_registration_form_student_user_studyGroup").hide();#}
            {#var action;#}
            {#$("#select_user").change(function() {#}
                {#switch($(this).val()) {#}
                    {#case 'Преподаватель':#}
                        {#$("#fos_user_registration_form_student_user_studyGroup").hide();#}
                        {#action = "{{ path('teacher_user_registration') }}";#}
                        {#break;#}
                    {#case 'Студент':#}
                        {#$("#fos_user_registration_form_student_user_studyGroup").show();#}
                        {#action = "{{ path('student_user_registration') }}";#}
                        {#break;#}
                    {#case 'Родитель':#}
                        {#$("#fos_user_registration_form_student_user_studyGroup").show();#}
                        {#action = "{{ path('parent_user_registration') }}";#}
                        {#break;#}
                    {#default:#}
                        {#action = "{{ path('teacher_user_registration') }}";#}
                {#}#}
                {#$("#reg_form").attr("action", action);#}
            {#});#}
        {#});#}
    {#</script>#}

{#{% endblock fos_user_content %}#}