{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dictionary list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Title</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dictionary in dictionaries %}
            <tr>
                <td><a href="{{ path('dictionary_show', { 'id': dictionary.id }) }}">{{ dictionary.id }}</a></td>
                <td>{{ dictionary.code }}</td>
                <td>{{ dictionary.title }}</td>
                <td>{{ dictionary.value }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dictionary_show', { 'id': dictionary.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dictionary_edit', { 'id': dictionary.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dictionary_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
