{% trans_default_domain 'FOSUserBundle' %}
<link rel="stylesheet" href="{{ asset('bundles/applicationfosuser/css/profile.css') }}">
{% block body %}
    {% set edit_path = path('fos_user_profile_edit') %}
    <div class="container" id="profile" ng-controller="EditProfileCtrl" ng-init="url = '{{ edit_path }}'">
        <div class="row">
            <div class="col-xs-12 message" ng-show="isSuccess">
                <h4></i>{{ '{{ message }}' }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-4">
                    <img class="avatar" src="{{ asset('assets/elfinder/dist/img/logo.png') }}" alt="" class="img-responsive">
                    {% if is_granted('ROLE_USER') %}
                    <div>
                        <input type="submit" id="#upload" class="btn btn-default upload" value="Загрузить фото"/>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-8">
                    <form action="" class="form-inline" ng-model="formData">
                        <table class="project-info-table">
                            <tbody>
                            <tr>
                                <th>
                                    <label class="control-label" for="inputType"><h4>{{ 'profile.show.username'|trans }}
                                            :</h4></label></th>
                                <td>
                                    <label>{{ '{{ formData.username }}' }}</label>
                                    <input class="form-control" type="text" required="required" disabled ng-model="formData.username">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <th><label class="control-label" for="inputType"><h4>{{ 'profile.show.email'|trans }}
                                            : </h4></label></th>
                                <td>
                                    <label>{{ '{{ formData.email }}' }}</label>
                                    <input class="form-control" type="email" value="{{ user.email }}" required="required"
                                           disabled ng-model="formData.email">
                                    {% if is_granted('ROLE_USER') %}
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th><label class="control-label" for="inputType"><h4>{{ 'profile.show.surname'|trans }}
                                            : </h4></label></th>
                                <td>
                                    <label>{{ '{{ formData.surname }}' }}</label>
                                    <input class="form-control" type="text" value="{{ user.surname }}"
                                           required="required" disabled ng-model="formData.surname">
                                    {% if is_granted('ROLE_USER') %}
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th><label class="control-label" for="inputType"><h4>{{ 'profile.show.name'|trans }}
                                            : </h4></label></th>
                                <td>
                                    <label>{{ '{{ formData.name }}' }}</label>
                                    <input class="form-control" type="text" value="{{ user.name }}" required="required"
                                           disabled ng-model="formData.name">
                                    {% if is_granted('ROLE_USER') %}
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th><label class="control-label" for="inputType">
                                        <h4>{{ 'profile.show.patronymic'|trans }}: </h4></label></th>
                                <td>
                                    <label>{{ '{{ formData.patronymic }}' }}</label>
                                    <input class="form-control" type="text" value="{{ user.patronymic }}"
                                           required="required" disabled ng-model="formData.patronymic">
                                    {% if is_granted('ROLE_USER') %}
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>

                            {% if user.studyGroup is defined %}
                                <tr>
                                    <th><label class="control-label" for="inputType">
                                            <h4>{{ 'profile.show.studyGroup'|trans }}: </h4></label></th>
                                    <td>
                                        <label>{{ '{{ formData.studyGroup }}' }}</label>
                                        <input class="form-control" type="text" value="{{ user.studyGroup }}"
                                               required="required" disabled ng-model="formData.studyGroup">
                                        {% if is_granted('ROLE_USER') %}
                                        <button type="button" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}

                            {% if user.studentGroup is defined %}

                                <tr>
                                    <th><label class="control-label" for="inputType">
                                            <h4>{{ 'profile.show.studentGroup'|trans }}: </h4></label></th>
                                    <td>
                                        <label>{{ '{{ formData.studentGroup }}' }}</label>
                                        <input class="form-control" type="text" value="{{ user.studentGroup }}"
                                               required="required" disabled ng-model="formData.studentGroup">
                                        {% if is_granted('ROLE_USER') %}
                                        <button type="button" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </form>
                    <div>
                        <input type="submit" class="btn btn-default" id="refresh"
                               value="{{ 'profile.edit.submit'|trans }}"
                               ng-click="processForm()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        userInfo = '{{ render(controller('FOSUserBundle:Profile:getUserInfo')) }}';
        jQuery(function () {
            $('#refresh').hide();
            $('#profile .btn-sm').hide();
            $('#profile input[type="text"]').hide();
            $('#profile input[type="email"]').hide();
            $('#upload').show();
            $('#profile tr').mouseenter(function () {
                $('.btn-sm').show();
            });
            $('#profile tr').mouseleave(function () {
                $('.btn-sm').hide();
            });

            $('#profile .btn-sm').click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    $(this).prev('input').prev('label').show();
                    $(this).prev('input').hide();
                    $(this).prev('input').prop('disabled', true);
                } else {
                    $('#refresh').show();
                    $(this).prev('input').prev('label').hide();
                    $(this).prev('input').show();
                    $(this).prev('input').prop('disabled', false);
                    $(this).show();

                }
                $(this).data("clicks", !clicks);
            });
        });
    </script>
{% endblock %}

