{% extends 'base.html.twig' %}


  {% block body %}

<div ng-controller="AnnouncementsCtrl">
      <script type="text/javascript">
           data = '{{ render(controller('DepartmentSiteAdvertBundle:Advert:getAdverts', { 'page': page })) }}';
           adverts_length = '{{ render(controller('DepartmentSiteAdvertBundle:Advert:getAdvertsLength')) }}';
      </script>

      <div class="announcements-background">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="section-title"><span>Объявления</span></div>
              </div>
          </div>
          <div class="row" ng-repeat="announcement in announcements  ">
              <div class="cards-column">
                  <div class="announce-card">
                      <div class="announce-card-content">
                          <div class="full-card-content">
                              <div class="my_announcement-comments-count-circle pull-right">2</div>
                              <i class="announce-card-date">{{ '{{announcement.createdAt | dateFilter | date:"dd.MM.yyyy" }}' }}</i>
                              <br /><a class="announce-card-title" ng-href="/advert/{{'{{announcement.slug}}'}}/show">{{'{{ announcement.title }}'}}</a>
                              <div class="announce-card-lead">{{'{{ announcement.description }}'}}</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
          {{ render(controller('DepartmentSiteAdvertBundle:Advert:getAdvertsPagination', {'page': page})) }}
  </div>
  </div>
  {% endblock %}
