{% extends 'base.html.twig' %}

{% block body %}
<div ng-controller="OneAdvertCtrl">
    {#<script type="text/javascript">#}
        {#data = '{{ render(controller('DepartmentSiteAdvertBundle:Advert:getOne', {'id' : advert.id})) }}';#}
    {#</script>#}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <span>Объявления</span>
                    <div class="v-separator"></div>
                    <a ng-href="{{ path('advert_index', {'page': 1}) }}">{{ 'to_advert_list' | DICTIONARY(_locale) }}</a>
                    <div class="v-separator"></div>
                    <a ng-href="#/announcements/page">{{ 'next_advert' | DICTIONARY(_locale) }}</a>
                    <div class="v-separator"></div>
                    <a ng-href="#/announcements/page">{{ 'previous_advert' | DICTIONARY(_locale) }}</a>
                </div>
                <i class="news-time">{{ advert.createdAt.date | date('d.m.Y')}}</i>
                <div class="post-title-inside-post">{{ advert.title }}</div>
                <div class="post-content-inside post-content" >
                    {{ advert.content | raw }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}